<div class="main-header">
  <div class="left-header">
    <div class="header-title">
      Equipment Management System
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">登録</a>
    </div>
  </div>
</div>

<div class="managements">
</div>

<div class="form">
</div>