<div class="side-bar-header">
  <div class="header-name">
    <a href="#">拠点名</a>
  </div>
  <div class="input-daily-delivery">
    <a href="#">件数入力</a>
  </div>
</div>

<div class="menu">
  <div class="order">
    <div class="order-name">
      <a href="#">機能①</a>
    </div>
  </div>
  <div class="order">
    <div class="order-name">
      <a href="#">機能②</a>
    </div>
  </div>
</div>