<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.center_name, edit_user_path(current_user) %>
  </div>
  <div class="input-daily-delivery">
    <a href="#">件数入力</a>
  </div>
</div>

<div class="menu">
  <div class="order">
    <div class="order-name">
      <a href="#">機能①</a>
    </div>
  </div>
  <div class="order">
    <div class="order-name">
      <a href="#">機能②</a>
    </div>
  </div>
</div>